<div>
    <% if(user){ %>
        <a href="/posts?author=<%= user._id %>">个人主页</a>
        <div>
            <a href="/posts/create">发表文章</a>
            <a href="/signout">登出</a>
        </div>
    <% }else{ %>
        <a href="/signin">登陆</a>
        <a href="/signup">注册</a>
    <%}%>
</div>